<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- ========================= Services ========================= -->
        <section class="pb-60 pt-60">
            <div class="container">
                <div class="section-title mb-60">
                    <div class="row justify-content-between">
                        <div class="col-md-12">
                            <p
                                class="font-weight-semi-bold color-red caption-font-size mb-6"
                            >
                                OUR VALUES
                            </p>
                        </div>
                        <div class="col-md-5">
                            <h3 class="mb-15 font-weight-medium">
                                What we
                                <span
                                    class="font-weight-bold color-red fst-italic"
                                    >do?</span
                                >
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <p>
                                Upgrade your embroidery projects with our
                                premium digitizing services. Say goodbye to
                                inefficient designs and welcome creativity!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row gy-4 align-items-stretch">
                    <div class="col-md-4 col-sm-6 d-flex">
                        <div
                            class="serviceCard background-color rounded-3 pr-25 pl-25 pt-25 pb-25 d-flex flex-column"
                        >
                            <div class="mb-25">
                                <img
                                    src="frontend/assets/img/icons/embriodery.svg"
                                />
                            </div>
                            <div class="content">
                                <h6 class="mb-20">Embriodery Digitizing</h6>
                                <p>
                                    The Vortexemb Design is the professioanl
                                    embriodery digitizing service provider who
                                    can perfectly digitize your artwork into the
                                    stitch file ready format without any thread
                                    breakage.
                                </p>
                            </div>
                            <div class="moreIcon mt-auto">
                                <svg
                                    viewBox="0 0 25 25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    transform="rotate(0 0 0)"
                                >
                                    <path
                                        d="M18.9203 6.0505C18.7834 5.86991 18.5665 5.75324 18.3223 5.75315L9.32695 5.75C8.91265 5.74985 8.57667 6.08545 8.57653 6.49958C8.57638 6.9137 8.91212 7.24954 9.32643 7.24968L16.5172 7.2522L5.79779 17.9716C5.5049 18.2645 5.5049 18.7394 5.79779 19.0323C6.09069 19.3252 6.56556 19.3252 6.85845 19.0323L17.5725 8.31828L17.5748 15.4945C17.5749 15.9086 17.9109 16.2442 18.3252 16.2441C18.7395 16.244 19.0752 15.9081 19.0751 15.494L19.0722 6.56074C19.0853 6.38214 19.0346 6.19976 18.9203 6.0505Z"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 d-flex">
                        <div
                            class="serviceCard background-color rounded-3 pr-25 pl-25 pt-25 pb-25"
                        >
                            <div class="mb-25">
                                <img
                                    src="frontend/assets/img/icons/vector-conversation.svg"
                                />
                            </div>
                            <div class="content">
                                <h6 class="mb-20">Vector Conversation</h6>
                                <p class="mb-20">
                                    Vector Artwork creation is one of the key of
                                    task involved in selling promotional
                                    products. Generally the distributor help the
                                    customer to get the current art work, or at
                                    times create the artwork.
                                </p>
                            </div>
                            <div class="moreIcon">
                                <svg
                                    viewBox="0 0 25 25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    transform="rotate(0 0 0)"
                                >
                                    <path
                                        d="M18.9203 6.0505C18.7834 5.86991 18.5665 5.75324 18.3223 5.75315L9.32695 5.75C8.91265 5.74985 8.57667 6.08545 8.57653 6.49958C8.57638 6.9137 8.91212 7.24954 9.32643 7.24968L16.5172 7.2522L5.79779 17.9716C5.5049 18.2645 5.5049 18.7394 5.79779 19.0323C6.09069 19.3252 6.56556 19.3252 6.85845 19.0323L17.5725 8.31828L17.5748 15.4945C17.5749 15.9086 17.9109 16.2442 18.3252 16.2441C18.7395 16.244 19.0752 15.9081 19.0751 15.494L19.0722 6.56074C19.0853 6.38214 19.0346 6.19976 18.9203 6.0505Z"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 d-flex">
                        <div
                            class="serviceCard background-color rounded-3 pr-25 pl-25 pt-25 pb-25 d-flex flex-column"
                        >
                            <div class="mb-25">
                                <img
                                    src="frontend/assets/img/icons/custom-patches.svg"
                                />
                            </div>
                            <div class="content">
                                <h6 class="mb-20">Custom Patches</h6>
                                <p>
                                    Instantaneously dyeing the thread on demand
                                    allows for more unique and creative designs
                                    while also substantially improving overall
                                    economic competitiveness.
                                </p>
                            </div>
                            <div class="moreIcon mt-auto">
                                <svg
                                    viewBox="0 0 25 25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    transform="rotate(0 0 0)"
                                >
                                    <path
                                        d="M18.9203 6.0505C18.7834 5.86991 18.5665 5.75324 18.3223 5.75315L9.32695 5.75C8.91265 5.74985 8.57667 6.08545 8.57653 6.49958C8.57638 6.9137 8.91212 7.24954 9.32643 7.24968L16.5172 7.2522L5.79779 17.9716C5.5049 18.2645 5.5049 18.7394 5.79779 19.0323C6.09069 19.3252 6.56556 19.3252 6.85845 19.0323L17.5725 8.31828L17.5748 15.4945C17.5749 15.9086 17.9109 16.2442 18.3252 16.2441C18.7395 16.244 19.0752 15.9081 19.0751 15.494L19.0722 6.56074C19.0853 6.38214 19.0346 6.19976 18.9203 6.0505Z"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
